---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - About</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About me</a>
        <a href="/blog/">Blog</a>

		<h1>About Me</h1>
		<h2>... ¡And my new Astro Website</h2>

        <p>I'm working on Astro introduction tutorial.</p>

        <p>This site will be updated regularly. Don't forget to check back!</p>
	</body>
</html>
