---
import Hamburger from "./Hamburger.astro";
import Navegation from "./Navegation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <Navegation />
    </nav>
</header>